html {
	scroll-behavior: smooth;
}

body {
	min-height: 95vh;
	position: relative;
	padding-bottom: 60px;
	margin: 0;
	background-color: #606060;
	color: white;
}

header {
	background-color: #ab25a0;
	box-shadow: 0px 0px 15px black;
	border-radius: 0 0 2rem 2rem;
}

a#skip-nav, a#credits {
	position: absolute;
	text-align: center;
	background-color: #792182;
	left: 2rem;
	padding: 20px 0 20px 0;
	width: 10vw;
	border-radius: 0 0 0.25rem 0.25rem;
	transform: translateY(-120%);
	transition: transform 250ms ease-in;
}

a#skip-nav:focus, a#credits:focus {
	transform: translateY(0);
}

a {
	color: white;
	text-decoration: none;
}

nav > ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

.nav-item {
	padding: 30px 0 30px 0;
	width: 10vw;
	transition: background-color 150ms ease-in;
}

a:hover > .nav-item, a:focus > .nav-item {
	background-color: #792182;
}

li#current {
	background-color: #33032a;
}

main {
	margin-left: 50px;
	margin-right: 50px;
	/*top, left, bottom, right*/
	padding: 20px 0 50px 0;
}

#page-intro {
	text-align: center;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	padding: 20px 20px 20px 20px;
	width: max-content;
	margin: 0 auto 20px auto;
}

#page-intro > h1 {
	margin-top: 0;
}

#index-cards {
	text-align: center;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

#cards {
	text-align: justify;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.card {
	padding: 20px;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	transition: background-color 150ms ease-in;
}

.card > img {
	border-radius: 0.5rem;
}

a:focus .card, a:hover .card {
	background-color: #444444;
	box-shadow: 2px 2px 0px 2px #343434;
}

.card-title {
	text-align: center;
}

.post {
	padding: 50px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
}

#about-me {
	text-align: justify;
	padding: 50px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
}

#about-me > h1 {
	text-align: center;
	margin-top: -20px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #434343;
	box-shadow: 0px 0px 15px black;
	border-radius: 2rem 2rem 0 0;
}

#copyright {
	padding: 30px;
}

#socials {
	text-align: right;
	margin-right: 2vw;
}

#socials > ul {
	list-style-type: none;
	display: flex;
	justify-content: right;
	text-align: center;
	margin: 0;
	padding: 0;
}

.social-item {
	padding: 30px 0 30px 0;
	width: 6vw;
	transition: background-color 150ms ease-in;
}

a:hover > .social-item, a:focus > .social-item {
	background-color: #343434;
}