@font-face {
	font-family: roboto-light;
	src: url(./Roboto-Light.ttf);
}

@font-face {
	font-family: roboto-black;
	src: url(./Roboto-Black.ttf);
}

:root {
	--footer-height: 60px;
	--header-height: 60px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: roboto-light;
	position: relative;
	background-color: #606060;
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-image: url("./images/background.webp");
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	text-transform: uppercase;
	font-family: roboto-black;
	background-color: #ab25a0;
	box-shadow: 0px 0px 15px black;
	border-radius: 0 0 2rem 2rem;
	height: var(--header-height);
	top: 0;
}

nav {
	height: 100%;
}

.header-left {
	border-radius: 0 0 0 2rem;
}

a#skip-nav, a#credits {
	position: absolute;
	background-color: #792182;
	left: 1.25rem;
	width: 10vw;
	border-radius: 0 0 0.25rem 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--header-height) - 1.25rem);
	transform: translateY(-120%);
	transition: transform 250ms ease-in;
}

a#skip-nav:focus, a#credits:focus {
	transform: translateY(0);
}

a {
	color: white;
	text-decoration: none;
}

a:focus {
	outline: none !important;
}

nav > ul {
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: left;
	margin: 0;
	padding: 0;
}

.nav-item {
	height: 100%;
	width: 10vw;
	transition: background-color 150ms ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

a:hover > .nav-item, a:focus > .nav-item {
	background-color: #792182;
}

li#current {
	background-color: #33032a;
}

#dropdown {
	position: relative;
}

#dropdown-button, #curseforge, #modrinth, #github {
	position: absolute;
	left: 20px;
	height: var(--header-height);
	width: 10vw;
	border: 0;
	transition: background-color 100ms ease-in;
	background-color: #ab25a0;
	color: white
}

#curseforge {
	top: 60px;
}

#modrinth {
	top: 120px;
}

button:hover, button:focus {
	background-color: #792182 !important;
}

#dropdown-button {
	border-radius: 1em;
}

.toggled {
	border-radius: 1em 1em 0 0 !important;
}

#github {
	top: 180px;
	border-radius: 0 0 1em 1em;
}

#dropdown-links {
	display: grid;
	grid-column: 1;
}

main {
	margin-bottom: auto;
	min-height: calc(100% - var(--footer-height) - var(--header-height));
	/*top, left, bottom, right*/
	padding: 20px 0 20px 0;
}

img :not(.credits) {
	width: 100%;
	height: auto;
}

#page-intro {
	height: max-content;
	text-align: center;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	padding: 20px 20px 5px 20px;
	width: max-content;
	margin: 0 auto 20px auto;
	line-height: 1.5;
	font-size: 18px;
}

#page-intro > h1 {
	margin-top: 0;
}

#flex-cards {
	text-align: justify;
	color: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 0 50px;
}

#grid-cards {
	text-align: justify;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 50px;
}

#cards > a:focus {
	border-radius: 1.5rem;
}

.card {
	padding: 1rem;
	margin: 0.5rem;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	transition: background-color 150ms ease-in;
	line-height: 1.5;
}

.card > img {
	border-radius: 1rem;
	display: block;
	margin: 0 auto;
}

a:focus .card, a:hover .card {
	background-color: #444444;
	box-shadow: 2px 2px 0px 2px #343434;
}

.card-title {
	text-align: center;
}

.post {
	padding: 50px;
	margin: 0 10rem;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	line-height: 1.5;
}

#about-me {
	text-align: justify;
	padding: 50px;
	margin: 0 10rem;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	line-height: 1.5;
}

#about-me > h1 {
	text-align: center;
	margin-top: -20px;
}

footer {
	text-transform: uppercase;
	font-family: roboto-black;
	display: flex;
	flex-direction: row;
	height: var(--footer-height);
	background-color: #434343;
	box-shadow: 0px 0px 15px black;
	border-radius: 2rem 2rem 0 0;
}

#copyright {
	margin-left: 2vw;
	display: flex;
	align-items: center;
}

#socials {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: right;
	text-align: center;
	margin: auto;
	margin-right: 1.5rem;
	height: 100%;
}

.social-item {
	width: 7vw;
	height: 100%;
	margin: auto;
	transition: background-color 150ms ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover > .social-item, a:focus > .social-item {
	background-color: #343434;
}

@media (max-width: 1000px) {
	#grid-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.nav-item {
		width: 15vw;
	}

	.social-item {
		width: 12vw;
	}
}

@media (max-width: 800px) {
	header {
		font-size: 75%;
	}

	.nav-item {
		width: 20vw;
	}

	#dropdown-button, #curseforge, #modrinth, #github {
		width: 20vw !important;
	}

	.header-left {
		border-radius: 0 0 0 2rem;
	}
	
	.header-right {
		border-radius: 0 0 2rem 0;
	}

	#page-intro {
		width: 80%;
	}

	img {
		width: 100%;
		height: auto;
	}

	.post {
		margin: 0 1rem;
	}

	#about-me {
		margin: 0 1rem;
	}

	#grid-cards {
		grid-template-columns: 1fr;
	}

	footer {
		font-size: 75%;
	}

	#copyright {
		display: none;
	}

	#socials {
		justify-content: center;
	}

	.social-item {
		width: 20vw;
	}

	.footer-left {
		border-radius: 2rem 0 0 0;
	}

	.footer-right {
		border-radius: 0 2rem 0 0;
	}
}