:root {
	--footer-height: 60px;
	--header-height: 60px;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: #606060;
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

header {
	background-color: #ab25a0;
	box-shadow: 0px 0px 15px black;
	border-radius: 0 0 2rem 2rem;
	height: var(--header-height);
	position: sticky;
	top: 0;
}

nav {
	height: 100%;
}

a#skip-nav, a#credits {
	position: absolute;
	background-color: #792182;
	left: 1.25rem;
	width: 10vw;
	border-radius: 0 0 0.25rem 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--header-height) - 1.25rem);
	transform: translateY(-120%);
	transition: transform 250ms ease-in;
}

a#skip-nav:focus, a#credits:focus {
	transform: translateY(0);
}

a {
	color: white;
	text-decoration: none;
}

a:focus {
	outline: none !important;
}

nav > ul {
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.nav-item {
	height: 100%;
	width: 10vw;
	transition: background-color 150ms ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover > .nav-item, a:focus > .nav-item {
	background-color: #792182;
}

li#current {
	background-color: #33032a;
}

main {
	margin-bottom: auto;
	min-height: calc(100% - var(--footer-height) - var(--header-height));
	/*top, left, bottom, right*/
	padding: 20px 0 20px 0;
}

#page-intro {
	height: max-content;
	text-align: center;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	padding: 20px 20px 5px 20px;
	width: max-content;
	margin: 0 auto 20px auto;
}

#page-intro > h1 {
	margin-top: 0;
}

#cards {
	text-align: justify;
	color: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}

#cards > a:focus {
	border-radius: 1.5rem;
}

.card {
	padding: 1rem;
	margin: 0.5rem;
	max-width: 300px;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
	transition: background-color 150ms ease-in;
}

.index {
	max-width: 400px;
}

.card > img {
	border-radius: 1rem;
}

a:focus .card, a:hover .card {
	background-color: #444444;
	box-shadow: 2px 2px 0px 2px #343434;
}

.card-title {
	text-align: center;
}

.post {
	padding: 50px;
	margin: 0 10rem;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
}

#about-me {
	text-align: justify;
	padding: 50px;
	margin: 0 10rem;
	background-color: #343434;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 0px 2px #242424;
}

#about-me > h1 {
	text-align: center;
	margin-top: -20px;
}

footer {
	display: flex;
	flex-direction: row;
	height: var(--footer-height);
	background-color: #434343;
	box-shadow: 0px 0px 15px black;
	border-radius: 2rem 2rem 0 0;
}

#copyright {
	margin-left: 2vw;
	display: flex;
	align-items: center;
}

#socials {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: right;
	text-align: center;
	margin: auto;
	margin-right: 1.5rem;
	height: 100%;
}

.social-item {
	padding: 0 15px;
	width: 4rem;
	height: 100%;
	margin: auto;
	transition: background-color 150ms ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover > .social-item, a:focus > .social-item {
	background-color: #343434;
}