body {
	min-height: 95vh;
	position: relative;
	padding-bottom: 60px;
	margin: 0;
	background-color: #606060;
	color: white;
}

header {
	text-align: center;
	background-color: #ab25a0;
	box-shadow: 0px 0px 15px black;
}

a {
	color: white;
	text-decoration: none;
}

nav > ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.nav-item {
	padding: 30px 0 30px 0;
	width: 10vw;
}

a:hover > .nav-item {
	background-color: #792182;
}

li#current {
	background-color: #33032a;
}

main {
	margin-left: 50px;
	margin-right: 50px;
	/*top, left, bottom, right*/
	padding: 20px 0 50px 0;
}

#page-intro {
	text-align: center;
	background-color: #343434;
	border-radius: 25px;
	box-shadow: 2px 2px 0px 2px #242424;
	padding: 20px 20px 20px 20px;
	width: max-content;
	margin: 0 auto 20px auto;
}

#page-intro > h1 {
	margin-top: 0;
}

#index-cards {
	text-align: center;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

#cards {
	text-align: justify;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.card {
	padding: 20px;
	background-color: #343434;
	border-radius: 25px;
	box-shadow: 2px 2px 0px 2px #242424;
}

.card-title {
	text-align: center;
}

.post {
	padding: 50px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #343434;
	border-radius: 25px;
	box-shadow: 2px 2px 0px 2px #242424;
}

#about-me {
	text-align: justify;
	padding: 50px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #343434;
	border-radius: 25px;
	box-shadow: 2px 2px 0px 2px #242424;
}

#about-me > h1 {
	text-align: center;
	margin-top: -20px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #434343;
	box-shadow: 0px 0px 15px black;
}

#socials {
	text-align: right;
}